<div class="d-flex justify-content-center mb-5">
    <div id="create-post-div">
        <h5 class="mt-5 mb-4">Create Post</h5>
        <form [formGroup]="postForm" (submit)="submit()">
            <div class="mt-3">
                <label for="title" class="form-label">Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="title" aria-describedby="title"
                    formControlName="title">
            </div>
            <div class="mt-3">
                <label for="text" class="form-label">Abstract <span class="text-danger">*</span></label>
                <textarea formControlName="text" class="form-control" rows="3"></textarea>
            </div>
            <div class="mt-3">
                <label for="formFile" class="form-label"> Upload Document <span class="text-danger">*</span></label>
                <input class="form-control" type="file" id="formFile" (change)="onFileChange($event)">
                
            </div>
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" formControlName="isPublic">
                <label class="form-check-label" for="isPublic">
                 is Public  <span class="text-danger">*</span>
                </label>
              </div>
            <div class="mt-3">
                <label for="formFile" class="form-label"> Knowledge Area </label>
                <ng-select bindLabel="description" bindValue="id" [items]="knowledgeAreas"
                 [multiple]="false" formControlName="knowledgeAreaId">
                </ng-select>
            </div>
            <button type="submit" class="btn btn-success mt-4" [disabled]="!postForm.valid">Submit</button>
        </form>
    </div>
</div>