<div class="d-flex justify-content-center mb-5">
    <div id="signup-div">
        <h5 class="mt-5 mb-4">Register</h5>
        <form [formGroup]="signupForm" (submit)="submit()">
            <div class="mt-3">
                <label for="exampleInputEmail1" class="form-label">Email address <span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    formControlName="email">
            </div>
            <div class="mt-3">
                <label for="exampleInputPassword1" class="form-label">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="mt-3">
                <label for="formFile" class="form-label"> Enrollment Declaration <span class="text-danger">*</span></label>
                <input class="form-control" type="file" id="formFile" (change)="onFileChange($event)">
                
            </div>
            <div class="mt-3">
                <label for="formFile" class="form-label"> Institution <span class="text-danger">*</span></label>
                <ng-select bindLabel="description" bindValue="id" [items]="institutions"
                formControlName="institutionId">
                </ng-select>
            </div>
            <div class="mt-3">
                <label for="formFile" class="form-label"> Preferred Knowledge Areas </label>
                <ng-select bindLabel="description" bindValue="id" [items]="knowledgeAreas"
                 [multiple]="true" formControlName="preferredKnowledgeAreas">
                </ng-select>
            </div>
            <button type="submit" class="btn btn-success mt-4" [disabled]="!signupForm.valid">Submit</button>
        </form>
    </div>
</div>