<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">     <fa-icon [icon]="faUniversity"></fa-icon> My Paper</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav me-auto">
                <div class="nav-item" *ngIf="user?.role === 'admin' || user?.role === 'institution moderator'">
                    <a [class]="{'nav-link': true, active: bindActive('/institutions')}" routerLink="institutions">Institutions</a>
                </div>
                <div class="nav-item" *ngIf="user?.role === 'institution moderator'">
                    <a [class]="{'nav-link': true, active: bindActive('/students-review')}" routerLink="students-review">Students Review</a>
                </div>
                <div class="nav-item" *ngIf="user?.role === 'admin' || user?.role === 'institution moderator'">
                    <a [class]="{'nav-link': true, active: bindActive('/register-institution-moderator')}" routerLink="register-institution-moderator">Register Institution Mod</a>
                </div>
                <div class="nav-item" *ngIf="user?.role === 'student'">
                    <a [class]="{'nav-link': true, active: bindActive('/register-post')}" routerLink="register-post">Register Post</a>
                </div>
            </div>
            <div class="navbar-nav" *ngIf="!user">
                <div class="nav-item">
                    <a [class]="{'nav-link': true, active: bindActive('/signup')}" routerLink="signup">Register</a>
                </div>
                <div class="nav-item">
                    <a [class]="{'nav-link': true, active: bindActive('/login')}" routerLink="login">Login</a>
                </div>
            </div>
            <div class="navbar-nav" *ngIf="user">
                <a class="nav-link" routerLink="login" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>